@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Form Template</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-container {
            margin-top: 50px;
        }

        .form-group.required .control-label:after {
            content: "*";
            color: red;
            margin-left: 5px;
        }
    </style>
</head>
<body>
    <div class="container form-container">
        <h2 class="text-center">Bootstrap Form Template</h2>
        <div>
            <div class="form-group required">
                <label for="name" class="control-label">Name</label>
                <input type="text" class="form-control" asp-for="Customer.name" placeholder="Enter your name" required>
            </div>
            <div class="form-group required">
                <label for="email" class="control-label">Email</label>
                <input type="email" class="form-control" asp-for="Customer.email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" asp-for="Customer.phonenumber" placeholder="Enter your phone number">
            </div>
            <div class="form-group">
                <label for="dob">Amount</label>
                <input type="text" class="form-control" asp-for="Amount" placeholder="Enter an Amount">
            </div>
            <button type="button" onclick="GetPaymentLink()" class="btn btn-primary">Submit</button>
        </div>
    </div>
</body>
</html>


@section Scripts {
    <script>
        function GetPaymentLink() {
            let email = document.getElementById('Customer_email').value;
            let phone = document.getElementById('Customer_phonenumber').value;
            let name = document.getElementById('Customer_name').value;
            let amount = document.getElementById('Amount').value;

            let payload = {
                amount: amount,
                currency: 'NGN',
                redirect_url: '@Url.Action("Index", "Home")',
                customer: {
                    email: email,
                    phonenumber: phone,
                    name: name
                }
            }

            console.log(payload);

            $.ajax({
                url: '@Url.Action("GetPaymentLink","Home")',
                type:'post',
                dataType:'json',
                contentType: 'application/json; charset=utf-8',
                "headers": {
                    //"Authorization": `Bearer ${token}`,
                    "Content-Type": "application/json"
                },
                data: JSON.stringify(payload),
                success: function (result) {
                    if (result.status == "success") {
                        location.href = result.data.link;
                    }
                    else {
                        alert('Something unusual happened! Please try again');
                    }
                },
                error: function (err) {
                    alert(err.responseText);
                }
            })
        }
    </script>
}